/* Enter your custom styles here */
.sapUiFormLblColon .sapUiFormElementLbl > .sapMLabel::after {
	content: "" !important;
}

li[data-useful="false"] .sapMTextMaxLine{
	color: silver !important;
}

[data-sap-ui$=fdp] .sapUiFormContainerTitle {
	margin-top: -12px !important;
}

[data-sap-ui$=fdp] .sapUiFormTitle.sapUiFormTitleH6  {
    height: 2rem !important;
    margin-bottom: 0 !important;
    color: rgb(102, 102, 102) !important;
}

[data-sap-ui$=fdp] .sapUiFormResGridCont {
    padding-bottom: 0rem !important;
}